<ion-content>
    <div id="back-button">
        <ion-button fill="outline" [routerLink]="['/home']">
            <ion-icon slot="start" name="chevron-back-circle-outline"></ion-icon>
            kembali
        </ion-button>
    </div>
    <div id="register-form">
        <h1>Registrasi</h1>
        <form action="" [formGroup]="userForm" (ngSubmit)="registrasi()">
            <ion-label id="label">NIK</ion-label>
            <ion-input required id="input" placeholder="Masukkan Nomor NIK anda" formControlName="nik"></ion-input>
            <ion-label id="label">Nama Lengkap</ion-label>
            <ion-input required="true" id="input" placeholder="Contoh : Dani Arthur" formControlName="namaLengkap"></ion-input>
            <ion-label id="label">Nomor Whatsapp</ion-label>
            <ion-input id="input" placeholder="Contoh : 081234567890" formControlName="nomorWhatsapp"></ion-input>
            <ion-label id="label">Alamat Domisili</ion-label>
            <ion-input id="input" placeholder="Contoh : Jalan Samiun No. 17" formControlName="alamatDomain"></ion-input>
            <ion-label id="label">Tanggal Lahir</ion-label>
            <ion-datetime id="input" displayFormat="MMMM/DD/YYYY" min="1930-03-14" max="2023-12-09" value="2019-10-01T15:43:40.394Z" display-timezone="utc" formControlName="tanggalLahir" (ionChange)="getTanggalLahir($event)"></ion-datetime>
            <ion-label id="label">Masukkan Gambar Kartu Vaksin </ion-label> <br>
            <input id="input" type="file" (change)="onFileChange($event)" placeholder="masukkan file dengan format jpg, jpeg atau png dengan ukuran max 1MB"/>
            <p>masukkan file dengan format jpg, jpeg atau png dengan ukuran max 1MB </p>
            <!-- <ion-button color="primary" (click)="takeSnapshot()"> Ambil foto </ion-button> -->
            <!-- https://edupala.com/how-capture-image-using-angular-camera/ -->
        </form>
        <ion-button color="primary" (click)="registrasi()" style="margin-top: 20px" *ngIf=" showRegisterButton === false">
            Lanjutkan
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
        <h4 *ngIf=" showRegisterButton === true" style="color: red">
            Maaf anda belum bisa mendaftar karena umur anda {{this.dob}} tahun
        </h4>
    </div>

    <!--  -->
    <!-- <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam> -->

</ion-content>