#back-button {
    padding-left: 5%;
    padding-right: 5%;
    top: 3%;
    position: absolute;
}

#register-form {
    padding-left: 5%;
    padding-right: 5%;
    top: 20%;
    position: absolute;
    width: 100%;
}

#input {
    border-radius: 5px;
    border: lightgrey solid 1px;
    width: 80%;
    margin-bottom: 5px;
    padding-left: 10px;
}