#container {
    padding-left: 5%;
    padding-right: 5%;
    top: 20%;
    position: absolute;
}

#back-button {
    padding-left: 5%;
    padding-right: 5%;
    top: 3%;
    position: absolute;
}

#ibadah-card {
    border: lightseagreen solid 1px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    height: 180px;
    width: 300px;
}

#input {
    border-radius: 10px;
    border: lightgrey solid 1px;
}