#container {
    padding-left: 5%;
    padding-right: 5%;
    top: 20%;
    position: absolute;
}

#back-button {
    padding-left: 5%;
    padding-right: 5%;
    top: 3%;
    position: absolute;
}

#ibadah-card {
    border: #2196f3 solid 3px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    height: 40vh;
    width: 90vw;
}

#event-card {
  border: green solid 3px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  height: 40vh;
  width: 90vw;
}

#input {
    border-radius: 10px;
    border: lightgrey solid 1px;
}
