<ion-content>
    <div id="back-button">
        <ion-button fill="outline" [routerLink]="['/pernah-daftar']">
            <ion-icon slot="start" name="chevron-back-circle-outline"></ion-icon>
            kembali
        </ion-button>
    </div>
    <div id="container">
        <h1>Selamat datang, {{namaLengkap}}</h1>

        <h3>Silahkan pilih ibadah </h3>
        <div id="ibadah-card" *ngFor="let ibadah of ibadahs " style="background: blanchedalmond;" (click)="generateQrToNextPage(ibadah.id)">
            <ion-label>
                <h2>{{ibadah.nama_ibadah}}</h2>
            </ion-label>
            <p *ngIf='!kuotaHabis'>sisa kuota <strong>{{totalSisaQuota}}</strong></p>
            <p *ngIf='kuotaHabis'>maaf kuota habis</p>
        </div>


    </div>

</ion-content>