<ion-content [fullscreen]="true" id="background">
    <div id="container">
        <h1>Aplikasi Registrasi Ibadah</h1>
        <h4>GKI SULSEL Jemaat Makassar</h4>
        <div id="navigate-button">
            <ion-button color="primary" (click)="goToPernahDaftar()">
                Pernah Daftar
            </ion-button>
            <ion-button color="primary" (click)="goToBelumDaftar()">
                Belum Pernah Daftar
            </ion-button>
        </div>
        <ion-checkbox></ion-checkbox>
        <p>
            SYARAT & KETENTUAN Pastikan Anda membaca terlebih dahulu "Syarat & Ketentuan" dibawah ini dan harap mengisi data dengan benar dan jujur. (Data yang diinput akan dijaga kerahasiaannya) 1. Berusia diatas 12 tahun hingga 60 tahun. 2. Tidak melakukan kontak
            / interaksi fisik dengan orang yang terinfeksi COVID-19 dalam 2 (dua) minggu terakhir. 3. Tidak berada dalam keadaan terinfeksi COVID-19 atau sedang menjalani isolasi mandiri. 4. Dalam keadaan sehat dan tidak mengalami gejala berikut ini :
            * Demam (suhu badan diatas 37,5 °C) * Sakit Kepala * Sakit tenggorokan / batuk / pilek * Kesulitan bernafas * Kesulitan mencium bau / mengecap rasa * Mual / Diare yang disertai salah satu atau beberapa gejala diatas 5. Sudah menerima vaksin
            minimal 1 (satu) kali. 6. 1 registrasi maksimal untuk 1 orang 7. QR Code hanya dapat digunakan sekali, yakni sesuai tanggal registrasi dan tidak dapat dipindahtangankan / dititipkan. 8. Seluruh jemaat wajib menggunakan Masker dan mematuhi
            protokol kesehatan yang ditetapkan (5M). □ Saya menyetujui dan memenuhi seluruh Syarat dan Ketentuan diatas. □ Saya memahami bahwa pendaftaran ini tidak menjamin keikutsertaan dalam Ibadah Onsite apabila ditemukan ketidaksesuaian terhadap
            Syarat dan Ketentuan diatas pada saat verifikasi di tempat.
        </p>
    </div>
</ion-content>